@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-roboto
}
video::-webkit-media-controls-fullscreen-button {
    display: none;
}

video {
    pointer-events: none;
    touch-action: none;
}